<div class="module-container">
    <div class="search-panel">
        <form class="form-inline search-table">
            <div class="form-group">
                <input class="form-control w200px" name="code" type="text"
                       placeholder="请输入参数编码查询">
            </div>
            <div class="form-group">
                <input class="form-control w200px" name="name" type="text"
                       placeholder="请输入参数名称查询">
            </div>
            <div class="form-group">
                <select class="form-control uiselect uiselectsubmit" name="category"
                        data-has-text-field="false" data-width="150">
                    @Html.EmptyOption("全部参数分类")
                    @Html.ParamCategoryOption()
                </select>
            </div>

            <button class="btn btn-primary" type="submit">
                <i class="fa fa-search"></i> 查询
            </button>

            <a class="btn btn-success uimodal" data-url="@Url.Action("Create")">
                <i class="fa fa-plus"></i> 新建
            </a>

            <a class="btn btn-danger tmdelete" data-table=".uitable" data-url="@Url.Action("Delete")">
                <i class="fa fa-trash-o"></i> 删除
            </a>
            
            <a class="btn btn-default" href="@Url.Action("Export")">
                <i class="fa fa-share-square-o"></i> 导出
            </a>

        </form>
    </div>
    <div class="uitable" data-url="@Url.Action("Grid")">
        @Html.Action("Grid")
    </div>
</div>