<div class="module-container">
    <div class="search-panel">
        <form class="form-inline search-table">
            <div class="form-group">
                <input class="form-control w250px" name="title" type="text"
                       placeholder="请输入名称/简拼查询">
            </div>
            <div class="form-group">
                <div class="input-group date w165px uidate">
                    <input class="form-control" name="startDate" type="text" placeholder="请选择开始日期">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-th"></i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group date w165px uidate">
                    <input class="form-control" name="endDate" type="text" placeholder="请选择结束日期">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-th"></i>
                    </span>
                </div>
            </div>

            <button class="btn btn-primary" type="submit">
                <i class="fa fa-search"></i> 查询
            </button>

            <a class="btn btn-success uimodal" data-size="lg" data-url="@Url.Action("Create")">
                <i class="fa fa-plus"></i> 新建
            </a>

            <a class="btn btn-danger tmdelete" data-table=".uitable" data-url="@Url.Action("Delete")">
                <i class="fa fa-trash-o"></i> 删除
            </a>

            <a class="btn btn-default" href="@Url.Action("Export")">
                <i class="fa fa-share-square-o"></i> 导出
            </a>

        </form>
    </div>
    <div class="uitable" data-url="@Url.Action("Grid")">
        @Html.Action("Grid")
    </div>
</div>
<script>
    fx.loadResource(['@CdnHelper.CdnUrl("~/lib/kindeditor/kindeditor.js")']);
</script>