@model StudentValidate
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">学习验证 - @Model.Name</h4>
</div>
<div class="modal-body">
    <div class="form-body">
        <table class="table table-bordered table-striped table-details">
				 <tr>
					<th class="w100px">标题</th>
					<td>@Model.Name</td>
				</tr>
				 <tr>
					<th>选项A</th>
					<td>@Model.A</td>
				</tr>
				 <tr>
					<th>选项B</th>
					<td>@Model.B</td>
				</tr>
				 <tr>
					<th>选项C</th>
					<td>@Model.C</td>
				</tr>
				 <tr>
					<th>选项D</th>
					<td>@Model.D</td>
				</tr>
				 <tr>
					<th>正确答案</th>
					<td>@Html.LabelSuccess(Model.Answer)</td>
				</tr>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">
        <i class="fa fa-sign-in"></i> 关闭
    </button>
</div>