@model Teacher
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">教师 - @Model.Name</h4>
</div>
<div class="modal-body">
    <div class="form-body">
        <table class="table table-bordered table-striped table-details">
				 <tr>
					<th class="w120px">编号</th>
					<td>@Model.Code</td>
				</tr>
				 <tr>
					<th>姓名</th>
					<td>@Model.Name</td>
				</tr>
				 <tr>
					<th>性别</th>
					<td>@Model.Sex</td>
				</tr>
				 <tr>
					<th>身份证号码</th>
					<td>@Model.IdNumber</td>
				</tr>
				 <tr>
					<th>培训机构</th>
					<td>@Model.SchoolId</td>
				</tr>
				 <tr>
					<th>培训机构名称</th>
					<td>@Model.SchoolName</td>
				</tr>
				 <tr>
					<th>联系电话</th>
					<td>@Model.Phone</td>
				</tr>
				 <tr>
					<th>创建时间</th>
					<td>@DateTimeHelper.FormatDateHasSecond(Model.CreateDateTime)</td>
				</tr>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">
        <i class="fa fa-sign-in"></i> 关闭
    </button>
</div>