@model ExcerciseQuestion
@if (Model.A.IsNotEmpty())
{
    <li>
        <input class="uicheck" id="answerA" type="radio" @Html.IsDisabled(Model.UserSelected.HasValue) @Html.IsChecked(Model.UserSelected.HasValue && Model.UserAnswer.Equals("A")) value="A" style="margin-right: 10px;">
        <label for="answerA">
            A、@Model.A
        </label>
    </li>
}
@if (Model.B.IsNotEmpty())
{
    <li>
        <input class="uicheck" id="answerB" type="radio" @Html.IsDisabled(Model.UserSelected.HasValue) @Html.IsChecked(Model.UserSelected.HasValue && Model.UserAnswer.Equals("B")) value="B" style="margin-right: 10px;">
        <label for="answerB">
            B、@Model.B
        </label>
    </li>
}
@if (Model.C.IsNotEmpty())
{
    <li>
        <input class="uicheck" id="answerC" type="radio" @Html.IsDisabled(Model.UserSelected.HasValue) @Html.IsChecked(Model.UserSelected.HasValue && Model.UserAnswer.Equals("C")) value="C" style="margin-right: 10px;">
        <label for="answerC">
            C、@Model.C
        </label>
    </li>
}
@if (Model.D.IsNotEmpty())
{
    <li>
        <input class="uicheck" id="answerD" type="radio" @Html.IsDisabled(Model.UserSelected.HasValue) @Html.IsChecked(Model.UserSelected.HasValue && Model.UserAnswer.Equals("D")) value="D" style="margin-right: 10px;">
        <label for="answerD">
            D、@Model.D
        </label>
    </li>
}
