@model Log
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">系统日志</h4>
</div>
<div class="modal-body">
    <div class="form-body">
        <table class="table table-bordered table-striped table-details">
				 <tr>
					<th class="w-100px">标题</th>
					<td>@Model.Title</td>
				</tr>
				 <tr>
					<th>内容</th>
					<td>@Model.MessageContent</td>
				</tr>
				 <tr>
					<th>IP地址</th>
					<td>@Model.IPAddress</td>
				</tr>
				 <tr>
					<th>操作人主键</th>
					<td>@Model.CreateUserId</td>
				</tr>
				 <tr>
					<th>操作人姓名</th>
					<td>@Model.CreateUserName</td>
				</tr>
				 <tr>
					<th>操作时间</th>
					<td>@DateTimeHelper.FormatDateHasSecond(Model.CreateDateTime)</td>
				</tr>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">
        <i class="fa fa-sign-in"></i> 关闭
    </button>
</div>