@model Param
<form class="form-horizontal uiform" method="post"
      data-modal="true"
      data-table=".uitable"
      data-error-el=".alert-danger"
      data-on-submit-success="fx.mtfSuccess"
      action="@Url.Action("Save")">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">@Html.EditStatus("系统参数")</h4>
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.MarkCreate()
        @Html.HiddenFor(p => p.Id)
        @Html.HiddenFor(p => p.CreateUserId)
        @Html.HiddenFor(p => p.CreateUserName)
        @Html.HiddenFor(p => p.CreateDateTime)
        <div class="alert alert-danger fxhide"></div>
        
        <div class="form-group">
            <label class="control-label col-md-3">
                <span class="required"> * </span>
                编码：
            </label>
            <div class="col-md-8">
                <input class="form-control" name="@nameof(Model.Code)" value="@Model.Code"
                       data-validate="required: true,maxlength: 100"
                       data-validate-message="required:'请输入参数编码'"
                       type="text" autocomplete="off" autofocus />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">
                <span class="required"> * </span>
                名称：
            </label>
            <div class="col-md-8">
                <input class="form-control" name="@nameof(Model.Name)" value="@Model.Name"
                       data-validate="required: true,maxlength: 100"
                       data-validate-message="required:'请输入参数名称'"
                       type="text" autocomplete="off"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">
                分类：
            </label>
            <div class="col-md-8">
                <select class="form-control uiselect" name="@nameof(Model.CategoryId)"
                        data-text-field="CategoryName" data-allow-clear="true">
                    <option></option>
                    @Html.ParamCategoryOption(Model.CategoryId)
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">
                参数值：
            </label>
            <div class="col-md-8">
                <textarea class="form-control" name="@nameof(Model.Value)" rows="3">@Model.Value</textarea>
            </div>
        </div>
         
        <div class="form-group">
            <label class="control-label col-md-3">
                备注：
            </label>
            <div class="col-md-8">
                <textarea class="form-control" name="@nameof(Model.Note)" rows="3">@Model.Note</textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">
            <i class="fa fa-save"></i> 保存
        </button>
        <button class="btn btn-default" type="button" data-dismiss="modal">
            <i class="fa fa-sign-in"></i> 关闭
        </button>
    </div>
</form>