<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>@SystemSetting.SystemTitle - 系统登录</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
    @Html.CdnImport("~/lib/bootstrap/bootstrap.css")
    @Html.CdnImport("~/lib/font-awesome/font-awesome.css")
    @Html.LocalImport("~/www/css/login.css");
</head>
<body class="container">
    <div class="col-md-6 col-md-offset-3 text-center">
        <div class="row"><i class="fa fa-windows logo"></i></div>
        <div class="row title">@SystemSetting.SystemTitle</div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="has-feedback input-margin">
                    <input class="form-control input-lg" id="account" name="account"
                           type="text" placeholder="账号" autofocus />
                    <i class="fa fa-user fa-2x form-control-feedback icon-color"></i>
                </div>
                <div class="has-feedback input-margin">
                    <input class="form-control input-lg" id="password" name="password"
                           type="password" placeholder="密码" />
                    <i class="fa fa-lock fa-2x form-control-feedback icon-color"></i>
                </div>
                <div class="input-margin">
                    <input class="btn btn-default btn-block btn-lg"
                           data-url="@Url.Action("Login")"
                           value="登 录" type="submit" />
                </div>
            </div>
        </div>
        <div class="row text-center copyright">
            @SystemSetting.Copyright © @DateTime.Now.Year
        </div>
    </div>
    @Html.CdnImport("~/lib/jquery/jquery.js")
    @Html.CdnImport("~/lib/bootstrap/bootstrap.js")
    @Html.CdnImport("~/lib/useragent/useragent_base.js")
    @Html.CdnImport("~/lib/useragent/useragent.js")
    @Html.CdnImport("~/lib/jquery-storageapi/jquery-storageapi.js")
    @Html.CdnImport("~/lib/fx/core.js")
    @Html.LocalImport("~/www/js/login.js");
</body>
</html>

