@model PageList<Courseware>
<table class="table table-striped table-bordered table-hover table-fix table-manage">
    <thead>
        <tr>
            @*<th class="w20px">
                <label><input class="checkbox-check" type="checkbox"><span></span></label>
            </th>*@           
            <th class="" data-order="@nameof(Courseware.Name)">名称</th>
            <th class="w120px" data-order="@nameof(Courseware.Period)">学时</th>
            <th class="w200px" data-order="@nameof(Courseware.WorkType)">从业类型</th>
            <th class="w100px text-center" data-order="@nameof(Courseware.CourseType)">课件类型</th>
            <th class="text-center w90px">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model)
        {
            <tr>
                @*<td>
                    <label><input class="checkbox-check" type="checkbox" value="@record.Id"><span></span></label>
                </td>*@
                <td class="">
                    <a class="uimodal" data-url="@Url.Action("Details", new {id = record.Id})">
                        @record.Name
                    </a>
                </td>
                <td class="">@record.PeriodName</td>
                <td class="">@record.WorkTypeName</td>
                <td class="text-center">
                    @if (record.CourseType == "1")
                    {
                        <i class="fa fa-camera"></i>
                    }
                    else
                    {
                        <i class="fa fa-video-camera"></i>
                    }
                    @record.CourseTypeName
                </td>
                <td class="text-center">
                    <a class="color-primary uiwindow" data-url="@Url.Action("Index","CoursewareDetails", new { coursewareId = record.Id})">
                        课件
                    </a>
                    <a class="color-primary uimodal" data-toggle="tooltip"
                       data-url="@Url.Action("Edit", new {id = record.Id})"
                       title="编辑">
                        <i class="fa fa-lg fa-edit"></i>
                    </a>

                    <a class="color-danger tsdelete" data-toggle="tooltip"
                       data-confirm="确定要删除当前课件吗,同时会删除所有的课件内容?"
                       data-url="@Url.Action("Delete", new {id = record.Id})"
                       title="删除">
                        <i class="fa fa-lg fa-trash-o"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.RenderPages(Model)